<?xml version="1.0" encoding="gb2312"?>
<GlobalAlarmConfig>
  <报警配置>
    <!--0为默认配置-->
    <用户ID>0</用户ID>
    <!--是/否-->
    <启用报警功能>是</启用报警功能>
    <!--是/否-->
    <启用声音报警>是</启用声音报警>
    <!--是/否-->
    <启用自动弹出>是</启用自动弹出>
  </报警配置>
  <报警配置>
    <用户ID>1</用户ID>
    <启用报警功能>是</启用报警功能>
    <启用声音报警>是</启用声音报警>
    <启用自动弹出>是</启用自动弹出>
  </报警配置>
</GlobalAlarmConfig>