<?xml version="1.0" encoding="gb2312"?>
<GlobalAppConfig>
  <应用分类列表>
    <分类配置>
      <!--显示的组名-->
      <名称>设备监控</名称>
      <实时监测入口URL>MonitorList.html</实时监测入口URL>
      <电子地图入口URL>BDMap_Monitor.html</电子地图入口URL>
      <子类列表>
        <子类配置>
          <名称>河道</名称>
          <用户站参数>1</用户站参数>
        </子类配置>
        <子类配置>
          <名称>水库</名称>
          <用户站参数>1</用户站参数>
        </子类配置>
      </子类列表>
      <!--多个用户参数用','隔开-->
      <用户站参数>1</用户站参数>
    </分类配置>
  </应用分类列表>
  <级别显示个数></级别显示个数>
</GlobalAppConfig>