<?xml version="1.0" encoding="utf-8" ?>
<MapConfig>
  <基本设置>
    <刷新时间 注释="刷新时间 单位秒">60</刷新时间>
    <中心坐标>116.46|39.92</中心坐标>
    <初始缩放级别>11</初始缩放级别>
    <最小缩放级别>5</最小缩放级别>
    <最大缩放级别>19</最大缩放级别>
  </基本设置>
  <图例信息 Left="10px" Top="200px" Width="100px" Height="90px" BackColor="FFF" BackOpacity="70" BorderColor="000">
    <图例 PicWidth="20px" PicHeight="20px">运行,大圈绿.gif</图例>
    <图例 PicWidth="20px" PicHeight="20px">停止,大圈红.png</图例>
    <图例 PicWidth="20px" PicHeight="20px">未知,大圈灰.gif</图例>
  </图例信息>
  <用户模板>
    <ID>1</ID>
    <采集量>设备类型,长编号,累计用水量,年累计用电量,年累计用水量,年剩余可开采量,开泵时间,关泵时间,本次用水量,本次用电量,用户剩余水量报警,用户剩余电量报警,井剩余水量报警,经纬度</采集量>
    <状态量></状态量>
    <状态信息>
      <状态>全部正常,正常.png</状态>
      <状态>全部中断,中断.png</状态>
      <状态>未知,中断.png</状态>
    </状态信息>
  </用户模板>
</MapConfig>