<?xml version="1.0" encoding="gb2312"?>
<价格设置>
   <水价>
      <阶梯数量>4</阶梯数量>
      <阶梯类型>百分比</阶梯类型>

      <一阶名称>基础水价</一阶名称>
      <一阶定额>100</一阶定额>
      
      <二阶名称>二阶水价(100%~120%)</二阶名称>
      <二阶定额>120</二阶定额>
      
      <三阶名称>三阶水价(120%~140%)</三阶名称>
      <三阶定额>140</三阶定额>

      <四阶名称>四阶水价(140%~160%)</四阶名称>
      <四阶定额>160</四阶定额>
   </水价>

   <电价>
      <阶梯数量>1</阶梯数量>
      <阶梯类型>百分比</阶梯类型>

      <一阶名称>单价</一阶名称>
      <一阶定额>100</一阶定额>
      
      <二阶名称>二阶电价(100%~120%)</二阶名称>
      <二阶定额>120</二阶定额>
      
      <三阶名称>三阶电价(120%~140%)</三阶名称>
      <三阶定额>140</三阶定额>

      <四阶名称>四阶电价(140%~160%)</四阶名称>
      <四阶定额>160</四阶定额>
  </电价>
</价格设置>


