<?xml version="1.0" encoding="gb2312"?>
<RealTimeMonitor>
  <显示设置组>
    <是否启用>true</是否启用>
    <显示设置>
      <量名称>设备状态</量名称>
      <!--显示方式：文字或图片-->
      <显示方式>图片</显示方式>
      <量描述>全部正常/全部中断</量描述>
      <!--文字,Green/Red;图片,正常.png/中断.png-->
      <量显示>正常.png/中断.png</量显示>
    </显示设置>
    <显示设置>
      <量名称>通讯状态</量名称>
      <!--显示方式：文字或图片-->
      <显示方式>图片</显示方式>
      <量描述>全部正常/全部中断</量描述>
      <!--文字,Green/Red;图片,正常.png/报警.png-->
      <量显示>正常.png/中断.png</量显示>
    </显示设置>
  </显示设置组>
  <组态设置组>
    <!-- 是 或 否 -->
    <是否显示组态>否</是否显示组态>
    <组态设置>
      <用户站参数>1</用户站参数>
      <组态页面>水源井.html</组态页面>
    </组态设置>
  </组态设置组>
  <!-- 开关泵操作时是否需要输入密码再控制 是 或 否 -->
  <是否显示控制密码>否</是否显示控制密码>
</RealTimeMonitor>
